body{
    background-color: rgb(192, 149, 231);
}
h1{
    background-color: rgb(105, 105, 196);
    font-family: 'Times New Roman', Times, serif;
    color: rgb(182, 28, 28);
}
h2{
    color: rgb(133, 75, 75);
}